@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  display: flex;
  height: 120vh;
  background-image: url("./assets/home-bg.jpg");
  background-size: cover;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

.bannerImage {
    filter: brightness(97%);;
}
